<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
    <link rel="shortcut icon" href="/img/icon.png?v=1.0" type="image/png">
    <title>Warframe Drops</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@2.5.2/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-infinite-scroll@2.0.2/vue-infinite-scroll.js"></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css"> 

    <meta name="description" content="Search the Warframe drop tables!" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="Warframe Drops" />
    <meta property="og:site_name" content="Warframe Drops" />
    <meta property="og:image" content="/img/icon.png?v=1.0"/>
    <meta property="og:description" content="Search the Warframe drop tables!" />
    <meta property="og:locale" content="en_GB" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Warframe Drops" />
    <meta name="twitter:site" content="@xinchronize" />
    <meta name="twitter:description" content="Search the Warframe drop tables!" />
    <meta name="twitter:image" content="/img/icon.png?v=1.0"/>

    <!-- ganalytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga')
    </script>
    <!-- end ganalytics -->

  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <section id="vue-wrapper">
      <header class="header">
        <section class="search-wrapper">
          <input class="search-bar" type="text" v-model="searchText" placeholder="Search..." @input="searchBar(searchText)">
          <button class="search-button" @click="searchBar(searchText)">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </section>
        <section class="dark-light">
          <button class="dark" @click="setTheme('dark');gaEvent('themeSwitch', 'click', 'dark')"></button>
          <button class="light" @click="setTheme('light');gaEvent('themeSwitch', 'click', 'light')"></button>
        </section>
        <section class="filter-menu">
          <ul class="menu" v-bind:class="{ invisible: !menuVisible }">
            <li>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSdrC1O7WbsAnX8NOrnFukwLigsaaca17fI_oZpXyn-zcVvKkA/viewform" target="_none" class="filter-checkbox-box"><i class="fa fa-globe"></i></a>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSdrC1O7WbsAnX8NOrnFukwLigsaaca17fI_oZpXyn-zcVvKkA/viewform" target="_none" class="list-label">Feedback</a>
            </li>
            <li class="title">Filters</li>
            <li v-for="filter in filters" @click.prevent="updateCurrentFilters(filter.id)">
              <input v-bind:id="filter.id" v-bind:name="filter.name" type="checkbox" class="filter-checkbox invisible" v-bind:checked="filter.on">
              <label v-bind:for="filter.id" class="filter-checkbox-box">
                <i v-if="filters[filter.id-1].on" class="fa fa-check"></i>
                <i v-if="!filters[filter.id-1].on" class="fa fa-times"></i>
              </label>
              <label v-bind:for="filter.id" class="filter-name list-label">{{filter.label}}</label>
            </li>
          </ul>
          <button class="menu-button" @click="toggleMenu">
            <span>info</span>
            <span v-if="menuVisible"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
            <span v-else><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
          </button>
        </section>
      </header>

      <section id="data" class="data-wrapper">
        <ul class="sections">
          <li class="section" v-for="section in renderedData.sections">
            <section class="title-wrapper">
              <button @click="resetRelated(section.section);searchTitle(section.section)" class="title-text" v-bind:title="'Search for '+section.section">{{section.section}}</button>
              <i class="fa fa-question-circle" @click="toggleRelated(section.section)"></i>
              <section class="scrolling-drops invisible" v-bind:id="section.section+'-title-drop-scroller'" v-bind:key="section.section+'-title-drop-scroller-key'">
                <p>Related:</p>
                <section class="titles-wrapper">
                  <ul class="titles">
                    <li class="title" v-for="title in titleDrops.data">
                      <button class="title-button" @click="searchRelated(title)">{{title}}</button>
                    </li>
                  </ul>
                </section>
              </section>
            </section>
            <ul class="subSections">
              <li class="subSection" v-if="section.subSections" v-for="subSection in section.subSections">
                <section class="title-wrapper">
                  <p class="title-text">{{subSection.subSection}}</p>
                </section>
                
                <ul class="subSubSections">
                  <li class="subSubSection" v-if="subSection.subSubSections" v-for="subSubSection in subSection.subSubSections">
                    <section class="title-wrapper">
                      <p class="title-text">{{subSubSection.subSubSection}}</p>
                    </section>

                    <ul class="items">
                      <li class="item" v-if="subSubSection.items">
                        <p class="column-1 column">Name</p>
                        <p class="column-2 column">Item drop chance (if applicable)</p>
                        <p class="column-3 column">Drop rate</p>
                      </li> <!-- item -->
                      <li class="item highlight" v-if="subSubSection.items" v-for="item in subSubSection.items" @click="searchItem(item.name.toLowerCase())">
                        <p class="column-1 column">{{item.name}}</p>
                        <p class="column-2 column">{{item.itemchance}}</p>
                        <p class="column-3 column">{{item.droprate}}</p>
                      </li> <!-- item -->
                    </ul> <!-- items -->

                  </li> <!-- subsection -->
                </ul> <!-- subsections -->

                <ul class="items">
                  <li class="item" v-if="subSection.items && !subSection.subSubSections">
                    <p class="column-1 column">Name</p>
                    <p class="column-2 column">Item drop chance (if applicable)</p>
                    <p class="column-3 column">Drop rate</p>
                  </li> <!-- item -->
                  <li class="item highlight" v-if="subSection.items" v-for="item in subSection.items" @click="searchItem(item.name.toLowerCase())">
                    <p class="column-1 column">{{item.name}}</p>
                    <p class="column-2 column">{{item.itemchance}}</p>
                    <p class="column-3 column">{{item.droprate}}</p>
                  </li> <!-- item -->
                </ul> <!-- items -->

              </li> <!-- subsection -->
            </ul> <!-- subsections -->

            <ul class="items">
              <li class="item" v-if="section.items">
                <p class="column-1 column">Name</p>
                <p class="column-2 column">Item drop chance (if applicable)</p>
                <p class="column-3 column">Drop rate</p>
              </li> <!-- item -->
              <li class="item highlight" v-if="section.items" v-for="item in section.items" @click="searchItem(item.name.toLowerCase())">
                <p class="column-1 column">{{item.name}}</p>
                <p class="column-2 column">{{item.itemchance}}</p>
                <p class="column-3 column">{{item.droprate}}</p>
              </li> <!-- item -->
            </ul> <!-- items -->
          </li> <!-- section -->
        </ul> <!-- sections -->

        <div v-infinite-scroll="addHead" infinite-scroll-disabled="busy" infinite-scroll-distance="50">
        </div>

      </section> <!-- data-wrapper -->

      <footer class="footer">
        <span class="cookie-policy">By using this website, you acknowledge our <a href="/policy" target="_blank">Cookie Policy.</a></span>
      </footer> <!-- footer -->

    </section> <!-- vue-wrapper -->
  </body>
</html>