@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
*, body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif; }

*, button::-moz-focus-inner {
  outline: none;
  border: 0; }

#vue-wrapper {
  display: grid;
  grid-template-columns: 10px auto auto auto auto auto auto 10px;
  grid-template-rows: 60px 10px auto auto auto auto 70px 10px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: #222;
  color: #fdfdfd; }
  #vue-wrapper .header {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-end: 1;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    grid-template-columns: auto 40px 50px;
    grid-template-rows: 100%;
    background: #444; }
    @media screen and (min-width: 480px) {
      #vue-wrapper .header {
        grid-template-columns: 400px auto 50px; } }
    #vue-wrapper .header .search-wrapper {
      display: grid;
      grid-template-columns: auto 40px;
      grid-column: 1; }
      #vue-wrapper .header .search-wrapper .search-bar {
        background: #eee;
        border: none;
        padding: 5px;
        box-sizing: border-box;
        grid-column: 1;
        font-family: Oswald, sans-serif; }
      #vue-wrapper .header .search-wrapper .search-button {
        background: #C2C233;
        border: none;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 5px;
        grid-column: 2;
        display: grid;
        width: 40px;
        height: 40px;
        cursor: pointer; }
        #vue-wrapper .header .search-wrapper .search-button:hover {
          background: #e4e41b;
          margin: -1px 0 0 -1px;
          box-shadow: 1px 1px #cdcd18; }
        #vue-wrapper .header .search-wrapper .search-button:active {
          background: #929211;
          margin: 0;
          box-shadow: inset #303000 1px 1px;
          padding: 1px 0 0 1px; }
    #vue-wrapper .header .dark-light {
      grid-column: 2;
      display: grid;
      grid-template-rows: 20px 20px;
      grid-template-columns: 20px;
      justify-content: center; }
      #vue-wrapper .header .dark-light .dark, #vue-wrapper .header .dark-light .light {
        border: none;
        width: 20px;
        height: 20px;
        cursor: pointer; }
      #vue-wrapper .header .dark-light .dark {
        background: #444; }
      #vue-wrapper .header .dark-light .light {
        background: #EFEFEF;
        box-shadow: #BDBDBD 0 3px, #BDBDBD 0px 1px 0 1px; }
    #vue-wrapper .header .filter-menu {
      right: 0;
      grid-column: 3;
      display: grid; }
      #vue-wrapper .header .filter-menu .menu-button {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: #DDD;
        border: none;
        cursor: pointer;
        width: 50px;
        height: 40px;
        text-transform: uppercase;
        padding: 5px; }
        #vue-wrapper .header .filter-menu .menu-button span {
          display: grid;
          justify-content: center;
          align-content: center; }
        #vue-wrapper .header .filter-menu .menu-button:hover {
          background: #DDD;
          box-shadow: #BBB 1px 1px;
          margin: -1px 0 0 -1px; }
        #vue-wrapper .header .filter-menu .menu-button:active {
          background: #AAA;
          box-shadow: inset #777 1px 1px;
          padding: 1px 0 0 6px;
          margin: 0; }
      #vue-wrapper .header .filter-menu .menu {
        display: grid;
        grid-auto-rows: 30px;
        position: fixed;
        background: #444;
        border: none;
        top: 50px;
        right: 10px;
        padding: 0;
        margin: 0;
        list-style: none;
        max-height: calc(100vh - 50px - 60px);
        overflow-y: auto;
        overflow-x: hidden; }
        #vue-wrapper .header .filter-menu .menu li {
          display: grid;
          position: relative;
          grid-template-columns: 30px auto;
          white-space: nowrap; }
          #vue-wrapper .header .filter-menu .menu li:not(.title):after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1; }
          #vue-wrapper .header .filter-menu .menu li:hover .list-label:after {
            width: 100%; }
          #vue-wrapper .header .filter-menu .menu li.title {
            grid-template-columns: repeat(3, 1fr);
            text-align: center; }
            #vue-wrapper .header .filter-menu .menu li.title:before {
              content: "-";
              grid-column: 1; }
            #vue-wrapper .header .filter-menu .menu li.title:after {
              content: "-";
              grid-column: 3; }
          #vue-wrapper .header .filter-menu .menu li .list-label {
            position: relative;
            padding-right: 20px;
            cursor: pointer; }
            #vue-wrapper .header .filter-menu .menu li .list-label:after {
              content: "";
              background: rgba(0, 111, 255, 0.1);
              height: 100%;
              position: absolute;
              width: 0px;
              right: 0;
              transition: width 0.25s linear;
              z-index: -1; }
          #vue-wrapper .header .filter-menu .menu li .filter-checkbox:not(:checked) ~ .list-label:after {
            background: rgba(186, 35, 35, 0.1); }
          #vue-wrapper .header .filter-menu .menu li .filter-checkbox:checked ~ .list-label:after {
            background: rgba(25, 183, 25, 0.1); }
          #vue-wrapper .header .filter-menu .menu li .filter-checkbox-box {
            color: #006fff;
            text-align: center;
            font-size: 1.25em;
            cursor: pointer; }
          #vue-wrapper .header .filter-menu .menu li a {
            grid-column: 2;
            display: grid;
            align-items: center;
            color: #fafafa;
            text-decoration: none; }
          #vue-wrapper .header .filter-menu .menu li .filter-checkbox, #vue-wrapper .header .filter-menu .menu li .filter-checkbox-box {
            grid-column: 1; }
          #vue-wrapper .header .filter-menu .menu li .filter-name {
            grid-column: 2;
            display: grid;
            align-items: center;
            color: #fafafa; }
          #vue-wrapper .header .filter-menu .menu li .filter-checkbox:not(:checked) ~ .filter-checkbox-box {
            color: #ba2323; }
          #vue-wrapper .header .filter-menu .menu li .filter-checkbox:checked ~ .filter-checkbox-box {
            color: #19b719;
            border: none; }
          #vue-wrapper .header .filter-menu .menu li .filter-checkbox:checked ~ .filter-name {
            border: none; }
  #vue-wrapper .invisible {
    display: none !important; }
  #vue-wrapper .data-wrapper {
    background: #444;
    border: none;
    overflow-y: auto;
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 8; }
    #vue-wrapper .data-wrapper * {
      padding: 10px; }
    #vue-wrapper .data-wrapper .sections {
      padding: 0;
      margin: 0;
      list-style: none; }
      #vue-wrapper .data-wrapper .sections .section {
        border: none; }
        #vue-wrapper .data-wrapper .sections .section .title-wrapper {
          background: #445577;
          border: none;
          display: grid;
          grid-template-columns: min-content 70px auto;
          grid-template-rows: 70px;
          white-space: nowrap; }
          #vue-wrapper .data-wrapper .sections .section .title-wrapper .title-text {
            margin: 0;
            color: white;
            font-weight: 700;
            font-size: 2em;
            grid-column: 1;
            border: none;
            background: none;
            display: inline-grid;
            justify-content: left;
            cursor: pointer; }
            #vue-wrapper .data-wrapper .sections .section .title-wrapper .title-text[title]:hover:after {
              content: "ouch";
              padding: 4px 8px;
              color: #333;
              position: absolute;
              left: 0;
              top: 100%;
              z-index: 20;
              white-space: nowrap;
              border-radius: 5px;
              box-shadow: 0px 0px 4px #222; }
            #vue-wrapper .data-wrapper .sections .section .title-wrapper .title-text:hover {
              text-decoration: underline;
              cursor: pointer; }
          #vue-wrapper .data-wrapper .sections .section .title-wrapper .fa {
            font-size: 2em;
            align-content: center;
            justify-content: center;
            display: grid;
            grid-column: 2;
            grid-row: 1; }
            #vue-wrapper .data-wrapper .sections .section .title-wrapper .fa:hover {
              background: #aebad0;
              margin: 0 1px 1px 0;
              box-shadow: 1px 1px #8e9fbe;
              cursor: pointer; }
            #vue-wrapper .data-wrapper .sections .section .title-wrapper .fa:active {
              background: #2f3b51;
              margin: 1px 0 0 1px;
              box-shadow: inset 1px 1px #1c2231;
              cursor: pointer; }
          #vue-wrapper .data-wrapper .sections .section .title-wrapper .scrolling-drops {
            display: grid;
            grid-column: 3;
            grid-row: 1;
            white-space: nowrap;
            overflow: hidden;
            grid-template-columns: fit-content(100%) auto auto;
            grid-template-rows: 60px;
            align-content: center; }
            #vue-wrapper .data-wrapper .sections .section .title-wrapper .scrolling-drops p {
              display: grid;
              align-content: center;
              padding: 0 5px;
              grid-column: 1;
              border-left: 5px solid white;
              margin: 0;
              color: white;
              font-weight: 700;
              font-size: 2em; }
            #vue-wrapper .data-wrapper .sections .section .title-wrapper .scrolling-drops .titles-wrapper {
              overflow: hidden;
              grid-column: 2;
              display: grid; }
              #vue-wrapper .data-wrapper .sections .section .title-wrapper .scrolling-drops .titles-wrapper .titles {
                list-style: none;
                position: relative;
                padding: 0;
                margin: 0;
                display: grid;
                align-content: center;
                animation-name: scrollLeft;
                animation-duration: 60s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                left: 0%; }
                #vue-wrapper .data-wrapper .sections .section .title-wrapper .scrolling-drops .titles-wrapper .titles .title {
                  display: inline;
                  grid-row: 1; }
                  #vue-wrapper .data-wrapper .sections .section .title-wrapper .scrolling-drops .titles-wrapper .titles .title .title-button {
                    background: none;
                    border: none;
                    color: inherit;
                    font-family: inherit;
                    font-size: inherit;
                    padding: 0;
                    margin: 0; }
                    #vue-wrapper .data-wrapper .sections .section .title-wrapper .scrolling-drops .titles-wrapper .titles .title .title-button:hover {
                      text-decoration: underline;
                      cursor: pointer; }
        #vue-wrapper .data-wrapper .sections .section .subSections {
          padding: 0;
          margin: 0;
          list-style: none; }
          #vue-wrapper .data-wrapper .sections .section .subSections .subSection {
            border: none;
            padding-top: 0px;
            padding-right: 0px; }
            #vue-wrapper .data-wrapper .sections .section .subSections .subSection .title-wrapper {
              background: #804060;
              border: none; }
              #vue-wrapper .data-wrapper .sections .section .subSections .subSection .title-wrapper .title-text:hover {
                cursor: default;
                text-decoration: none; }
            #vue-wrapper .data-wrapper .sections .section .subSections .subSection .subSubSections {
              padding: 0;
              margin: 0;
              list-style: none; }
              #vue-wrapper .data-wrapper .sections .section .subSections .subSection .subSubSections .subSubSection {
                border: none;
                padding-top: 0px;
                padding-right: 0px; }
                #vue-wrapper .data-wrapper .sections .section .subSections .subSection .subSubSections .subSubSection .title-wrapper {
                  background: #A04060;
                  border: none; }
                  #vue-wrapper .data-wrapper .sections .section .subSections .subSection .subSubSections .subSubSection .title-wrapper .title-text:hover {
                    cursor: default;
                    text-decoration: none; }
            #vue-wrapper .data-wrapper .sections .section .subSections .subSection .items {
              padding: 0;
              margin: 0;
              list-style: none; }
              #vue-wrapper .data-wrapper .sections .section .subSections .subSection .items .item {
                box-shadow: inset teal 0 -1px 0 0, inset teal 0 1px 0 0;
                border: none;
                display: grid;
                grid-template-columns: 33.333% 33.333% 33.333%;
                padding: 0;
                cursor: pointer; }
                #vue-wrapper .data-wrapper .sections .section .subSections .subSection .items .item:not(.highlight) {
                  font-weight: 700; }
                #vue-wrapper .data-wrapper .sections .section .subSections .subSection .items .item.highlight:hover {
                  background: #333; }
                #vue-wrapper .data-wrapper .sections .section .subSections .subSection .items .item .column {
                  margin: 0; }
                #vue-wrapper .data-wrapper .sections .section .subSections .subSection .items .item .column-1 {
                  border: none;
                  grid-column: 1; }
                #vue-wrapper .data-wrapper .sections .section .subSections .subSection .items .item .column-2 {
                  border: none;
                  grid-column: 2; }
                #vue-wrapper .data-wrapper .sections .section .subSections .subSection .items .item .column-3 {
                  border: none;
                  grid-column: 3; }
        #vue-wrapper .data-wrapper .sections .section .items {
          padding: 0;
          margin: 0;
          list-style: none; }
          #vue-wrapper .data-wrapper .sections .section .items .item {
            box-shadow: inset teal 0 -1px 0 0, inset teal 0 1px 0 0;
            display: grid;
            grid-template-columns: 33.333% 33.333% 33.333%;
            padding: 0;
            cursor: pointer; }
            #vue-wrapper .data-wrapper .sections .section .items .item:not(.highlight) {
              font-weight: 700; }
            #vue-wrapper .data-wrapper .sections .section .items .item.highlight:hover {
              background: #333; }
            #vue-wrapper .data-wrapper .sections .section .items .item .column {
              margin: 0; }
            #vue-wrapper .data-wrapper .sections .section .items .item .column-1 {
              border: none;
              grid-column: 1; }
            #vue-wrapper .data-wrapper .sections .section .items .item .column-2 {
              border: none;
              grid-column: 2; }
            #vue-wrapper .data-wrapper .sections .section .items .item .column-3 {
              border: none;
              grid-column: 3; }
  #vue-wrapper .footer {
    position: fixed;
    width: calc(100% - 20px);
    height: 40px;
    bottom: 0;
    background: #333;
    grid-row-start: 8;
    grid-row-end: 8;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    padding: 10px; }
    #vue-wrapper .footer .cookie-policy {
      width: 100%; }
      #vue-wrapper .footer .cookie-policy a {
        color: red; }
      #vue-wrapper .footer .cookie-policy a:visited {
        color: #960000; }

@keyframes scrollLeft {
  0% {
    transform: translateX(0%); }
  50% {
    transform: translateX(-50%); }
  100% {
    transform: translateX(-100%); } }
#vue-wrapper.light {
  background: #fdfdfd;
  color: #222; }
  #vue-wrapper.light .header {
    background: #EFEFEF; }
    #vue-wrapper.light .header .search-wrapper .search-bar {
      background: #fafafa; }
    #vue-wrapper.light .header .dark-light .dark {
      background: #444;
      box-shadow: #666 0 -3px, #666 0px -1px 0 1px; }
    #vue-wrapper.light .header .dark-light .light {
      background: #EFEFEF;
      box-shadow: none; }
    #vue-wrapper.light .header .filter-menu .menu {
      background: #fafafa; }
      #vue-wrapper.light .header .filter-menu .menu li a {
        color: #222; }
      #vue-wrapper.light .header .filter-menu .menu li .filter-name {
        color: #222; }
      #vue-wrapper.light .header .filter-menu .menu li .filter-checkbox-box {
        color: #006fff; }
      #vue-wrapper.light .header .filter-menu .menu li .filter-checkbox:not(:checked) ~ .filter-checkbox-box {
        color: #ba2323; }
      #vue-wrapper.light .header .filter-menu .menu li .filter-checkbox:checked ~ .filter-checkbox-box {
        color: #19b719; }
  #vue-wrapper.light .data-wrapper {
    background: #ececec; }
    #vue-wrapper.light .data-wrapper .sections .section .title-wrapper {
      background: #356bd6; }
      #vue-wrapper.light .data-wrapper .sections .section .title-wrapper button {
        color: #222; }
      #vue-wrapper.light .data-wrapper .sections .section .title-wrapper .scrolling-drops p {
        color: #222;
        border-left: 5px solid #222; }
    #vue-wrapper.light .data-wrapper .sections .section .subSections .subSection .title-wrapper {
      background: #d8458f; }
      #vue-wrapper.light .data-wrapper .sections .section .subSections .subSection .title-wrapper .title-text {
        color: #222; }
    #vue-wrapper.light .data-wrapper .sections .section .subSections .subSection .items .item.highlight:hover {
      background: #fafafa; }
    #vue-wrapper.light .data-wrapper .sections .section .items .item.highlight:hover {
      background: #fafafa; }
  #vue-wrapper.light .footer {
    background: #ececec;
    color: #333; }

/*# sourceMappingURL=style.css.map */
